@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.mt-100 {
  margin-top: 150px;
}

.mt-84 {
  margin-top: 84px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-77 {
  margin-left: 77px;
}

.mr-12 {
  margin-right: 12px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-36 {
  padding-left: 36px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-24 {
  padding-right: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-12 {
  padding-top: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-16 {
  padding-bottom: 16px;
}

.p-email {
  padding-right: 48px;
  padding-left: 48px;
  width: 454px;
  height: 60px;
}

.pl-48 {
  padding-left: 48px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-48 {
  padding-right: 48px;
}
.btn-login {
  padding-right: 48px;
  padding-left: 48px;
  width: 454px;
  height: 60px;
  background: rgba(25, 175, 0, 1);
  border-radius: 12px;
}

.btn-regis {
  padding-right: 48px;
  padding-left: 48px;
  width: 454px;
  height: 60px;
  border: 1px solid rgba(25, 175, 0, 1);
}

.btn-login-portal {
  background: rgba(255, 255, 255, 1);
  padding: 12px, 16px, 12px, 16px;
  width: 154px;
  height: 44px;
  border: 1px solid rgba(25, 175, 0, 1);
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
}

.text-blue {
  color: #1c5bb8;
}

input {
  border-radius: 12px;
}

.br-12 {
  border-radius: 12px;
}

.bg-login {
  background: rgba(250, 250, 250, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.divider-line {
  border: 1px solid rgba(158, 158, 158, 1);
  width: 206px;
}

.atau-color {
  color: rgba(158, 158, 158, 1);
}

.text-green {
  color: rgba(25, 175, 0, 1);
}

.text-gray {
  color: rgba(158, 158, 158, 1);
}

.border-gray {
  border: 1px solid rgba(158, 158, 158, 1);
}

.border-search-gray {
  border: 1px solid #e0e0e0;
}

.leaf1 {
  position: fixed;
  bottom: 0;
  right: 0;
}

.leaf2 {
  position: fixed;
  top: 0;
  left: 0;
}

.icon-email {
  background: url("/src/assets/image/fi_mail.png") no-repeat left;
  background-size: 20px;
  background-position-x: 20px;
}

.search-input {
  position: relative;
  width: 988px;
  height: 70px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 16px, 12px, 16px, 12px;
  gap: 10px;
}

.br-6 {
  border-radius: 6px;
}

.icon-password {
  background: url("/src/assets/image/u_lock-alt.png") no-repeat left;
  background-size: 20px;
  background-position-x: 20px;
}

.bg-contact {
  background: rgba(245, 245, 245, 1);
  height: 44px;
}

footer {
  background-color: rgba(8, 58, 0, 1);
  color: white;
}

.footer-title {
  font-weight: 600;
  font-size: 14;
}

.footer-subtitle {
  font-weight: 400;
  font-size: 14;
}

.container-image {
  position: relative;
  margin: auto 3em auto;
}

.image {
  width: 1440px;
  right: 88px;
  position: relative;
}

.header {
  position: absolute;
  left: 650px;
  top: -300px;
}

.text-blue {
  color: rgba(28, 91, 184, 1);
}

.title-in-image {
  font-weight: 700;
  font-size: 40px;
}

.title-image {
  right: 102px;
  top: 213px;
  padding: 0;
}

.menu-about-us {
  width: 184px;
  height: 88px;
  padding-top: 32px;
  background: rgba(245, 245, 245, 1);
  color: black;
  border: none;
}

.active-menu-aboutus,
.menu-about-us:hover {
  background: transparent;
  color: #19af00;
}

a {
  text-decoration: none;
}

.title-tentang-kami {
  font-weight: 700;
  font-size: 24px;
}

.tentang-kami-p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.visi-misi-p {
  font-weight: 400;
  font-size: 16px;
  text-align: start;
  margin: auto;
}

.tim-kami-title {
  font-size: 24px;
  font-weight: 700;
}

.blue-line {
  background-color: #1c5bb8;
  width: 36px;
  height: 1px;
  border-top: 1px dotted 1C5BB8;
  line-height: 80%;
  margin-top: 2px;
}

.blue-line-bold {
  background: #1c5bb8;
  border: 1px solid #1c5bb8;
  width: 36px;
  height: 6px;
  border-radius: 8px;
  margin-bottom: 3px;
}

.name-title {
  font-weight: 500;
  font-size: 18px;
}

.position-text {
  font-weight: 400;
  font-size: 14px;
}

.text-unit {
  color: rgba(13, 88, 0, 1);
  font-weight: 500;
  font-size: 12px;
}

.text-title-card {
  font-weight: 500;
  font-size: 16px;
}

.text-address-card {
  color: rgba(97, 97, 97, 1);
  font-weight: 400;
  font-size: 14px;
}

.text-seller {
  font-weight: 400;
  font-size: 14px;
}

.logo-pt-card {
  width: 28px;
  height: 28px;
}

.ml-4 {
  margin-left: 4px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #f5f5f5;
  margin-left: 12px;
}

.text-pagination {
  color: rgba(158, 158, 158, 1);
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.mb-91 {
  margin-bottom: 91px;
}

.green-arrow {
  color: #e0e0e0;
}

.mt-13 {
  margin-top: 13px;
}

.ml-16 {
  margin-left: 16px;
}

.wrapper {
  width: 988px;
  height: 70px;
  max-width: 100%;
  position: relative;
}

.wrapper input {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 1rem 2rem;
  width: 100%;
}

.wrapper button {
  background: #19af00;
  border: none;
  color: white;
  border-radius: 8px;
  width: 78px;
  height: 38px;
  aspect-ratio: 1;
  position: absolute;
  right: 15px;
  top: 10px;
}
